modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Streamlit App"

[[workflows.workflow]]
name = "Run Streamlit App"
author = 15749103

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run src/ui/app.py -- --server.headless=true --server.address=0.0.0.0 --server.port=5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 3000
